@model IndexViewModel
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@{
    ViewData["Title"] = "View";
}
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link href="~/css/game-display.css" rel="stylesheet" type="text/css"/>
<h1>Games List</h1>

<p class="create-game-button">
    <a asp-controller="Game" asp-action="CreateGame" class="btn btn-primary">Create New</a>
</p>

<div class="game-grid">
    @foreach (var game in Model.Games)
    {
        <div class="game-card">
            <div class="game-header">
                <span class="game-id">#@game.Id</span>
                <h2 class="game-name">@game.Name</h2>
            </div>
            <p class="game-description">@game.Description</p>
            <div class="price-container">
                $@game.Price
            </div>
        </div>
    }
</div>
