@model IEnumerable<Gauniv.WebServer.Data.Game.Category>

@{
    ViewData["Title"] = "Liste des catégories";
}

<h1>Liste des catégories</h1>

<table class="table">
    <thead>
        <tr>
            <th>Nom</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
            </tr>
        }
    </tbody>
</table>
